<%= flash_errors(@writing) %>

<%= form_for([:meta, @writing]) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :summary %>
  <%= f.text_field :summary %>

  <%= f.label :published_at %>
  <%= f.text_field :published_at %>

  <p>
    <%= f.submit 'Publish' %>
    <%= f.submit @writing.published? ? 'Unpublish' : 'Save Draft', class: :secondary %>
    <%= link_to 'or go back', @writing, class: :cancel %>
  </p>

<% end %>
