<% provide :title, 'Everything I’ve written' %>

<h1>Everything I’ve written.</h1>
<%= link_to_new :writing %>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  <% @writings.each do |writing| %>
    <tr>
      <td><%= link_to_edit(writing) %>
        <%= link_to writing.title, writing %></td>
      <td><%= writing.summary %></td>
      <td><%= writing.pretty_published_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
