<%= flash_errors(@writing) %>

<%= form_for(@writing) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :summary %>
  <%= f.text_field :summary %>
  
  <%= f.label :publish_status %>
  <%= f.select(:publish_status, Postable::PUBLISH_STATES) %>

  <p><%= f.submit %>
    <%= link_to 'or go back', @writing, :class => :cancel %>
  </p>

<% end %>
