<%= flash_errors(@author) %>

<%= simple_form_for([:meta, @author]) do |f| %>

  <%= f.input :fname, label: 'First' %>
  <%= f.input :mname, label: 'Middle' %>
  <%= f.input :lname, label: 'Last' %>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'or go back', @author, class: :cancel if params[:controller] == :authors %>
  </div>

<% end %>
