<%= flash_errors(@author) %>

<%= form_for([:meta, @author]) do |f| %>

    <%= f.label :fname, 'First' %>
    <%= f.text_field :fname, tabindex: 1 %>

    <%= f.label :mname, 'Middle' %>
    <%= f.text_field :mname, tabindex: 2 %>

    <%= f.label :lname, 'Last' %>
    <%= f.text_field :lname, tabindex: 3 %>

    <p><%= f.submit %>
      <%= link_to 'or go back', @author, class: :cancel if params[:controller] == :authors %>
    </p>

<% end %>