<% title = @query.blank? ? 'Search' : "Searching for '#{@query}'" %>
<% provide :title, title %>

<h1><%= title %></h1>
<% if @query.present? %>
  <%= comment_on_search_term(@query) %>
<% end %>
<%= render 'layouts/search_form' %>
<% if @query.present? %>
  <% if @results.blank? %>
    <p>Sorry, no results.</p>
  <% else %>
    <ol>
    <% @results.each do |result| %>
      <li>
        <%= link_to(mark_string(result.searchable.title, @query), result.searchable) %>
        <%= serp_excerpt(result.excerpt) %>
      </li>
    <% end %>
    </ol>
  <% end %>
<% end %>
