<%= flash_errors(@book) %>

<%= simple_form_for([:meta, @book]) do |f| %>

  <div class="halves">
    <div class="half">
      <%= f.input :title %>
      <%= f.input :subtitle %>
      <%= link_to 'New Author', new_meta_author_path, class: :ajax_new_link, remote: true %>
      <%= f.association :authors, label: 'Author(s)', label_method: :full_name %>
    </div>
    <div class="half">
      <%= f.input :publisher %>
      <%= f.input :pub_year %>
      <%= f.input :asin %>
    </div>
  </div>

  <%= f.input :thesis, input_html: { rows: 4 } %>
  <%= f.input :thoughts %>
  <%= f.input :cover_image %>

  <%= field_set_tag 'Topics', class: :topics do %>
    <%= f.input :topic_list %>
    <%= content_tag :h2, 'Current Topics' %>
    <%= content_tag :p do %>
      <% Book.topic_counts.sort_by(&:name).each do |topic| %>
        <span class="tag"><%= topic.name %></span>
      <% end %>
    <% end %>
  <% end %>

  <%= f.input :published_at, as: :string %>

  <div class="actions">
    <%= f.submit 'Publish' %>
    <%= f.submit @book.published? ? 'Unpublish' : 'Save Draft', class: :secondary %>
    <%= link_to 'or go back', @book, class: :cancel %>
  </div>

<% end %>
