<% provide :title, 'Everything I’ve read' %>

<h1>Everything I’ve read.</h1>
<%= link_to_new :book %>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Year</th>
      <th>Read On</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to_edit(book) %>
        <%= link_to book.title, book %></td>
      <td><%= authors_of(book) %></td>
      <td><%= book.publisher %></td>
      <td><%= book.pub_year %></td>
      <td><%= book.read_on.strftime('%-m/%-e/%Y') %></td>
      <td><%= book.pretty_published_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
