<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div class="flash error">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :about %>
    <%= f.text_area :about %>

    <%= f.label :url %>
    <%= f.text_field :url %>

    <%= f.label :client %>
    <%= f.text_field :client %>

    <%= f.label :image_filename %>
    <%= f.text_field :image_filename %>

    <%= f.submit %>

<% end %>
