<h1>Everything I’ve built.</h1>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>About</th>
      <th>Url</th>
      <th>Client</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  <% @works.each do |work| %>
    <tr>
      <td><%= link_to_edit(work) %>
        <%= link_to work.title, work %></td>
      <td><%= word_count(work.about) %></td>
      <td><%= link_from_url(work.url) %></td>
      <td><%= raw work.client %></td>
      <td><%= work.pretty_published_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>