<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @work.title %>
</p>

<p>
  <b>About:</b>
  <%= @work.about %>
</p>

<p>
  <b>Url:</b>
  <%= @work.url %>
</p>

<p>
  <b>Client:</b>
  <%= @work.client %>
</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
