<%= flash_errors(@author) %>

<%= form_for(@author) do |f| %>

    <%= f.label :fname %><br />
    <%= f.text_field :fname %>

    <%= f.label :mname %><br />
    <%= f.text_field :mname %>

    <%= f.label :lname %><br />
    <%= f.text_field :lname %>
    
    <p><%= f.submit %>
      <%= link_to 'or go back', @author, :class => :cancel %>
    </p>

<% end %>