<h1>Dashboard</h1>
<p>You’ve got:</p>
<ul>
  <li><%= link_to "#{ @books_count } books", meta_books_path %></li>
  <li><%= link_to "#{ @authors_count } authors", meta_authors_path %></li>
  <li><%= link_to "#{ @works_count } works", meta_works_path %></li>
  <li><%= link_to "#{ @writings_count } writings", meta_writings_path %></li>
  <li><%= link_to "#{ @pages_count } pages", meta_pages_path %></li>
</ul>
