<div class="main" role"main">
  <h1>Colophon</h1>

  <p>I do most of my writing in Apple's <%= link_to 'Pages', 'http://www.apple.com/iwork/pages/' %> in full-screen mode to block out distractions.</p>
  <p>The code for this site was lovingly hand-crafted in <%= link_to 'TextMate', 'http://macromates.com/' %> and is built on the <%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' %> framework. It is hosted on <%= link_to 'Heroku', 'http://www.heroku.com/' %>.</p>
  <p>All text is set in Charis SIL by <%= link_to 'SIL International', 'http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=CharisSILfont' %>.</p>
</div>