<li class="book">
  <article>
    <span class="title">
    <% if book.posted? %>
      <%= link_to(book.title, book.post) %>
    <% else %>
      <%= content_tag(:span, book.title) %>
    <% end %>
    </span>
    <%= author_list(book) %>
    <span class="meta"><%= book.publisher %>, <%= book.pub_year %></span>
  </article>
</li>
