<%= flash_errors(@book) %>

<%= form_for(@book) do |f| %>
  
  <div class="halves">
    <div class="half">
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :subtitle %>
      <%= f.text_field :subtitle %>

      <%= f.label :author %>
      <%= f.text_field :author %>
    </div>
    <div class="half">
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>

      <%= f.label :pub_year %>
      <%= f.text_field :pub_year %>

      <%= f.label :asin %>
      <%= f.text_field :asin %>
    </div>
  </div>
  
  <%= f.label :thesis %>
  <%= f.text_area :thesis, :rows => 4 %>
  
  <%= f.label :thoughts %>
  <%= f.text_area :thoughts %>
  
  <%= f.label :cover_image %>
  <%= f.text_field :cover_image %>
  
  <%= f.label :publish_status %>
  <%= f.select(:publish_status, ['published', 'draft']) %>

  <%= f.submit %>

<% end %>