<%= flash_errors(@book) %>

<%= form_for(@book) do |f| %>
  
  <div class="halves">
    <div class="half">
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :subtitle %>
      <%= f.text_field :subtitle %>
      
      <%= f.label :author_ids, 'Author(s)' %>
      <%= f.select :author_ids, Author.all.collect {|x| [x.full_name, x.id]}, {}, :multiple => true %>

    </div>
    <div class="half">
      <%= f.label :publisher %>
      <%= f.text_field :publisher %>

      <%= f.label :pub_year %>
      <%= f.text_field :pub_year %>

      <%= f.label :asin %>
      <%= f.text_field :asin %>
    </div>
  </div>
  
  <%= f.label :thesis %>
  <%= f.text_area :thesis, :rows => 4 %>
  
  <%= f.label :thoughts %>
  <%= f.text_area :thoughts %>
  
  <%= f.label :cover_image %>
  <%= f.text_field :cover_image %>
  
  <%= field_set_tag 'Topics', :class => :topics do %>
    <%= f.label :topic_list %>
    <%= f.text_field :topic_list %>
    <%= content_tag :h2, 'Current Topics' %>
    <%= content_tag :p do %>
      <% Book.topic_counts.sort_by{ |topic| topic.name }.each do |topic| %>
        <span class="tag"><%= topic.name %></span>
      <% end %>
    <% end %>
  <% end %>
  
  <%= f.label :publish_status %>
  <%= f.select(:publish_status, ['published', 'draft']) %>

  <p><%= f.submit %>
    <%= link_to 'or go back', @book, :class => :cancel %>
  </p>

<% end %>