<% provide :title, @book.title %>
<% provide :description, @book.thesis unless @book.thesis.blank? %>

<footer class="sidebar">
  <%= get_cover(@book) %>
  <span class="book_title"><%= @book.title %></span>
  <span class="book_author"><%= authors_of(@book) %></span>
  <span class="book_publisher"><%= @book.publisher %>, <%= @book.pub_year %></span>
  <%= link_to 'Amazon', 'http://www.amazon.com/gp/product/' + @book.asin + '?ie=UTF8&tag=stevgros-20' if @book.asin? %>
</footer>

<hgroup>
  <h1><%= @book.title %></h1>
  <%= content_tag(:h2, @book.subtitle) unless @book.subtitle.blank? %>
</hgroup>
<p class="meta">
  <%= @book.pretty_published_at %>
  <%= link_to_edit(@book) %>
</p>
<%= content_tag :p, @book.thesis, class: 'thesis' unless @book.thesis.blank? %>
<%= markdown(@book.thoughts) %>
<%= content_tag :nav, class: :article_nav do %>
  <%= link_to_previous(@book) %>
  <%= link_to_next(@book) %>
<% end %>

<%= render 'shared/disqus', commentable: @book %>
