<% provide :title, @book.title %>
<% provide :description, 'I read a book.' %>

<footer class="sidebar">
  <%= image_tag(@book.cover_url, alt: '', class: 'cover') %>
  <span class="book_title"><%= @book.title %></span>
  <span class="book_author"><%= linked_author_list(@book) %></span>
  <span class="book_publisher"><%= @book.publisher %>, <%= @book.pub_year %></span>
  <%= link_to 'Amazon', 'http://www.amazon.com/gp/product/' + @book.asin + '?ie=UTF8&tag=stevgros-20' if @book.asin? %>
</footer>

<hgroup>
  <h1><%= @book.title %></h1>
  <%= content_tag(:h2, @book.subtitle) unless @book.subtitle.blank? %>
</hgroup>
<p class="meta">
  <%= @book.start_date %>
  <%= link_to_edit(@book) %>
</p>
