<div class="main" role="main">
  <h1><%= @book.title %></h1>
  <p class="meta"><%= @book.created_at.strftime('%B %e, %Y') %></p>
  <%= markdown(@book.thoughts) %>
</div>

<footer class="sidebar">
  <%= get_cover(@book) %>
  <span class="book_title"><%= @book.title %></span>
  <span class="book_author"><%= @book.author %></span>
  <span class="book_publisher"><%= @book.publisher %>, <%= @book.pub_year %></span>
  <%= link_to 'Purchase', 'http://www.amazon.com/gp/product/' + @book.asin + '?ie=UTF8&tag=stevgros-20' %>
</footer>