<div role="main" class="main">
  <h1>My Christmas List</h1>
  
  <section id="timewithyou">  
    <h2>Time with You</h2>
    <p>More than stuff, what would make me happy is some quality time with you. You could take me out for dinner or out to something cultural—something we'd both enjoy. The older I get, the more I realize that people are the only thing that really matters.</p>
  </section>
  
  <section id="charity">
    <h2>Helping a Worthy Cause</h2>
    <p>Honestly, I've got everything I need and then quite a bit more. I'm lucky to have a great, loving family and all my animal needs and comforts satisfied, but there are plenty of people out there who've not been so lucky. Here are three charities that do a lot of good. I support them all personally, and would be honored if you'd do so as well.</p>
    <ul>
      <li>
        <h3>Children's International</h3>
        <p>Provides assistance with food, education, healthcare, and mentorship to impoverished and disadvantaged children around the world.</p>
        <p>Learn more at <%= link_to 'children.org', 'https://www.children.org/onetime.asp?sid=A3966598-8DCB-4E6C-B9AC-F9445FD29C31' %></p>
      </li>
      <li>
        <h3>charity:water</h3>
        <p>Digs wells in communities that lack access to fresh, clean water. Their operating costs are covered by a benefactor, so 100% of all donations go directly toward helping people.</p>
        <p>Learn more at <%= link_to 'charitywater.org', 'http://www.charitywater.org/whywater/' %></p>
      </li>
      <li>
        <h3>Kiva</h3>
        <p>Lets you lend money to people around the world trying lift themselves out of poverty. You get kept up-to-date about how your money is used, and when your loan is repaid (as 99% of loans are), you can keep the money or lend again.</p>
        <p>Learn more at <%= link_to 'kiva.org', 'http://www.kiva.org' %></p>
      </li>
    </ul>
  </section>
  
  <section id="stuff">
    <h2>There are, of course, some things I'd enjoy which I've listed below.</h2>
    <% @wishlist_items_by_category.each do |category, items| %>
      <h3><%= category %></h3>
      <ul>
      <% items.each do |item| %>
        <li>
          <h4><%= link_to item.name, item.purchase_at %></h4>
          <%= markdown(item.description) %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>
</div>