<li class="post <%= post.post_type.downcase %>">
  <article>
    <%= content_tag :span, post.pretty_published_at, class: 'meta date' %>
    <span class="title"><%= link_to(post.title, post) %></span>
    <%= post.idea %>
    <% unless post.topic_list.empty? %>
    <span class="meta topics">
      <%= raw "on #{linked_topics_for(post)}" %>
    </span>
    <% end %>
  </article>
</li>
