<% provide :title, @post.title %>
<% provide :description, @post.idea %>

<% if @post.book_post? %>
  <footer class="sidebar">
    <%= get_cover(@post.book) %>
    <span class="book_title"><%= @post.book.title %></span>
    <span class="book_author"><%= authors_of(@post.book) %></span>
    <span class="book_publisher"><%= @post.book.publisher %>, <%= @post.book.pub_year %></span>
    <%= link_to 'Amazon', 'http://www.amazon.com/gp/product/' + @post.book.asin + '?ie=UTF8&tag=stevgros-20' if @post.book.asin? %>
  </footer>
  <hgroup>
    <h1><%= @post.book.title %></h1>
    <%= content_tag(:h2, @post.book.subtitle) unless @post.book.subtitle.blank? %>
  </hgroup>
<% elsif @post.link_post? %>
  <h1><%= link_to(@post.title, @post.link_url) %></h1>
<% else %>
  <h1><%= @post.title %></h1>
<% end %>
<p class="meta">
  <%= @post.pretty_published_at %>
  <%= link_to_edit(@post) %>
</p>
<p class="idea"><%= @post.idea %></p>
<%= markdown(@post.content) %>

<%= render 'shared/disqus', commentable: @post %>
