<% provide :title, 'All the pages' %>

<h1>All the pages.</h1>
<%= link_to_new :page %>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Title</th>
      <th>Permalink</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  <% @pages.each do |page| %>
    <tr>
      <td><%= link_to_edit(page) %>
        <%= link_to page.title, page %></td>
      <td><%= page.permalink %></td>
      <td><%= page.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
