<%= flash_errors(@redirect) %>

<%= simple_form_for([:meta, @redirect]) do |f| %>

  <%= f.input :from, hint: 'e.g. “likes/turtles”' %>
  <%= f.input :to, hint: 'e.g. “http://stevegrossi.com/turtles”' %>

  <div class="actions">
    <%= f.submit 'Publish' %>
    <%= link_to 'or go back', meta_redirects_path, class: :cancel %>
  </div>


<% end %>
