<%= flash_errors(@post) %>

<%= simple_form_for([:meta, @post]) do |f| %>

  <%= f.input :title, hint: 'For book posts, defaults to book’s title' %>
  <%= f.association :book %>
  <%= f.input :link_url %>
  <%= f.input :idea, input_html: { rows: 4 } %>
  <%= f.input :content %>
  <%= f.input :published_at, include_blank: true %>

  <%= field_set_tag 'Topics', class: :topics do %>
    <%= f.input :topic_list %>
    <%= content_tag :h2, 'Current Topics' %>
    <%= content_tag :p do %>
      <% Post.topic_counts.sort_by(&:name).each do |topic| %>
        <span class="tag"><%= topic.name %></span>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Publish' %>
    <%= f.submit @post.published? ? 'Unpublish' : 'Save Draft', class: :secondary %>
    <%= link_to 'or go back', meta_posts_path, class: :cancel %>
  </div>

<% end %>
