<% provide :title, 'All the posts' %>

<h1>All the posts.</h1>
<%= link_to_new :post %>
<table cellspacing="0">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Idea</th>
      <th>Words</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to_edit(post) %><%= post.post_type %></td>
      <td><%= link_to post.title, post %></td>
      <td><%= post.idea %></td>
      <td><%= post.word_count %></td>
      <td><%= post.pretty_published_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
