<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="description" content="The website of Steve Grossi">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag 'application' %>
  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="favicon.ico">
  <%= csrf_meta_tag %>
</head>
<body class="<%= "#{controller_name} #{action_name}" %>">
  <% if current_user %>
    <div id="admin_bar">
      <ul>
        <li><%= link_to "New Book", new_book_path %></li>
        <li><%= link_to "New Writing", new_writing_path %></li>
        <li><%= link_to "New Website", new_work_path %></li>
        <li><%= link_to "New Wishlist Item", new_wishlist_item_path %></li>
        <li><%= link_to "Log Out", log_out_path %></li>
      </ul>
    </div>
  <% end %>
  </div>
  <div id="wrapper">
    <header class="siteheader">
      <nav>
        <ul>
          <li><%= link_to 'Steve Grossi', root_path, :title => 'Home', :accesskey => '1' %></li>
          <li><a href="/made" title="My Portfolio">makes</a></li>
          <li><%= link_to 'writes', writings_path, :title => 'Writings' %></li>
          <li><%= link_to 'reads', books_path, :title => 'Thoughts on books' %></li>
          <li><%= link_to 'is', about_path, :title => 'About Steve' %></li>
        </ul>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, raw(value), :class => key) %>
    <% end %>

    <article>
      <%= yield %>
    </article>

    <footer class="sitefooter">
      &copy; <%= Time.now.year %> | <%= link_to 'Colophon', colophon_path %>
      <span id="contact">
        <noscript>say hello: me at stevegrossi dot com</noscript>
      </span>
    </footer>
  </div>
  <%= render 'layouts/analytics' if Rails.env.production? %>
  <%= javascript_include_tag 'application' %>
</body>
</html>