<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <%= stylesheet_link_tag 'application' %>
  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <%= csrf_meta_tag %>
</head>
<body class="<%= "#{controller_name} #{action_name} #{ Date::DAYNAMES[Time.now.wday].downcase }" %>">

  <header class="siteheader">
    <nav>
      <%= link_to raw('Steve Grossi'), root_path, :title => 'Home', :accesskey => '1', :id => 'logo' %>
      <ul><li><%= nav_link_to 'about', about_path, :title => 'About Steve' %></li><li><%= nav_link_to 'work', works_path, :title => 'Portfolio' %></li><li><%= nav_link_to 'thoughts', writings_path, :title => 'Writings' %></li><li><%= nav_link_to 'reads', books_path, :title => 'Thoughts on books' %></li></ul>
    </nav>
  </header>
  
  <div role="main" class="main">
  
  <% flash.each do |key, value| %>
    <%= content_tag :p, raw(value), :class => key %>
  <% end %>

  <article>
    <%= yield %>
  </article>
  
  </div>

  <footer class="sitefooter">
    <p>&copy; 2011–<%= Time.now.year %> | <%= link_to 'Colophon', colophon_path %>
      <span id="contact">
        <noscript>say hello: me at stevegrossi dot com</noscript>
      </span>
    </p>
  </footer>
  <%= render 'layouts/analytics' if Rails.env.production? %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'admin' if ['new', 'create', 'edit', 'update', 'everything'].include? params[:action] %>
  <%= yield :page_js %>
</body>
</html>