<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title><%= content_for?(:title) ? yield(:title) + ' | Steve Grossi' : 'Steve Grossi' %></title>
  <% if content_for?(:description) %>
    <meta name="description" content="<%= yield :description %>">
  <% end %>
  <%= stylesheet_link_tag 'application', media: :all %>
  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <link rel="search" type="application/opensearchdescription+xml" title="Search SteveGrossi.com" href="/opensearch.xml" />
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag 'Thoughts from Steve Grossi', 'http://feeds.feedburner.com/stevegrossi', type: :rss %>
</head>
<body class="<%= body_classes %>">

  <header class="siteheader">
    <nav>
      <%= link_to raw('Steve Grossi'), posts_path, title: 'Home', accesskey: '1', id: 'logo' %>
      <ul>
        <li><%= nav_link_to('thoughts', posts_path) %></li>
        <li><%= nav_link_to('work', works_path) %></li>
        <li><%= nav_link_to 'about', page_path('is'), title: 'About Me' %></li>
        <li><%= nav_link_to 'search', search_path, data: { icon: 's' } %></li>
      </ul>
    </nav>
  </header>

  <div role="main" class="main">

  <% flash.each do |key, value| %>
    <%= content_tag :p, raw(value), :class => ['flash', key] %>
  <% end %>

  <article>
    <%= yield %>
  </article>

  </div>

  <footer class="sitefooter">
    <p>&copy; 2011–<%= Time.now.year %> | <%= link_to 'Colophon', page_path('colophon') %>
      <span class="right">
      <script>
      var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
      "=55){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
      ".substr(0,ol);}f(\")72,\\\"&, 3;&v9)y|q?y|}b~lo771\\\\msuEan<#\\\\\\\\120\\" +
      "\\120\\\\020\\\\630\\\\220\\\\Y100\\\\620\\\\%W(N720\\\\530\\\\400\\\\600\\" +
      "\\230\\\\MN7700\\\\600\\\\310\\\\I710\\\\620\\\\720\\\\410\\\\020\\\\600\\\\"+
      "500\\\\);)/330\\\\?4b8\\\"\\\\9=2?sit\\\\UWCX710\\\\O120\\\\610\\\\300\\\\D" +
      "EMSOWSr\\\\VOErk~s771\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCm" +
      "orf.gnirtS=+o;721=%y;i=+y)72==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i" +
      " rav{)y,x(f noitcnuf\")"                                                     ;
      while(x=eval(x));
      </script>
        <noscript>say hello: me at stevegrossi dot com</noscript>
      </span>
    </p>
  </footer>
  <%= render 'layouts/analytics' if Rails.env.production? %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'admin' if /meta/ =~ controller_path %>
  <%= yield :page_js %>
</body>
</html>
